@import "../../../../assets/scss/mixin.scss";

.portfoliosGrid {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    overflow: hidden;

    @include Responsive(M) {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
    }
    @include Responsive(XS) {
      grid-template-columns: repeat(1, 1fr);
    }

    &.noView {
      display: none;
    }

    .content-item {
      position: relative;
      margin: 0;
      padding: 2px;
      background-color: white;
      box-shadow: 0 0 5px #c7c7c7;
      overflow: hidden;
      opacity: 0.85;
      cursor: pointer;
      transition: all 0.3s;

      &.big {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;

        @include Responsive(S) {
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 1;
          grid-row-end: 1;
        }
      }

      .img {
        filter: contrast(0.8);
        transition: all 0.5s;
        &.fadeIn {
          transform: scale(1);
        }
      }
      .caption {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        text-transform: uppercase;
        z-index: 0;

        .title {
          font-size: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          color: #bfbfc3;
          transform: translateY(50px);
          transition: all 0.4s;

          i {
            font-size: 50px;
          }
          span {
            b {
              margin-left: 2px;
              font-weight: 700;
            }
          }
        }
        .text {
          font-size: 12px;
          padding: 20px 0px;
          transition: all 0.4s;
          color: #d8d8d8;
          font-weight: 500;

          &.slideUp {
            transform: translateY(10px);
            opacity: 0;
          }
          &.fadeIn {
            transform: scale(0);
          }
        }

        &::before {
          content: "";
          bottom: 0;
          position: absolute;
          width: 100%;
          opacity: 0;
          background-color: #000000a9;
          transition: all 0.3s;
        }

        &.slideUp::before {
          height: 50%;
        }

        &.fadeIn::before {
          height: 100%;
        }
      }

      &:hover {
        opacity: 1;

        .img {
          &.fadeIn {
            transform: scale(1.2);
          }
        }
        .caption::before {
          opacity: 1;
          height: 100%;
        }
        .title {
          color: #1976d2;
          transform: translateY(15px);
        }
        .text {
          &.slideUp {
            transform: translateY(0px);
            opacity: 1;
          }
          &.fadeIn {
            transform: scale(1);
          }
        }
      }
    }
  }
}
