@import "../../assets/scss/mixin.scss";

.pricing {
  .pricingWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include Responsive(M) {
      margin: 20px auto 0;
      width: 90%;
    }
    @include Responsive(S) {
      flex-direction: column;
    }

    .pricingPackage {
      width: 100%;
      background-color: white;
      box-shadow: 0 0 7px #b4b4b4;
      text-align: center;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0 7px 15px #acacac;
        transform: scale(1.025);
      }

      .info {
        color: white;
        background-color: #06a763;
        padding: 45px 0 40px;

        .cost {
          margin-bottom: 50px;

          .price {
            font-size: 60px;

            .currency {
              font-size: 28px;
              line-height: 0;
            }
            .number {
              font-style: normal;
            }
          }
          .period {
            font-size: 20px;
          }
        }
        .name {
          text-transform: uppercase;
          border: 2px solid white;
          padding: 3px 10px;
        }
      }
      .features {
        color: #797979;
        padding: 15px;

        .feature {
          margin: 5px 0;
          .capacity {
            text-transform: uppercase;
            margin-right: 4px;
          }
        }
      }
      .purchase {
        padding: 25px 0 35px;
        color: white;
        border-top: 1px solid #e0e0e0;

        span {
          background-color: #06a763;
          padding: 7px 15px;
          text-transform: uppercase;
          box-shadow: 0 2px 5px #b4b4b4;
          cursor: pointer;
          transition: all 0.4s;

          &:hover {
            box-shadow: 0 4px 8px #8f8f8f;
            background-color: #068d55;
          }
        }
      }
    }
  }
}
