@import "../../assets/scss/mixin.scss";

.interest {
  .interestWrapper {
    background-color: white;
    box-shadow: 0 0 7px #b4b4b4;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0px;

    @include Responsive(M) {
      width: 80%;
    }

    .content {
      text-align: center;
      padding: 40px 35px;
      color: #757575;
      border-bottom: 1px solid #ececec;
    }
    .interestList {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      @include Responsive(M) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include Responsive(XS) {
        grid-template-columns: repeat(2, 1fr);
      }

      .interestItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 20px;
        transition: all 0.1s linear;

        &.green {
          background-color: #06a763;
          color: #ffffff;
        }
        &.white {
          background-color: white;
          color: #06a763;
        }
        &:hover {
          transform: scale(1.025);
          box-shadow: 0 0 5px #a7a7a7;
        }

        .icon {
          font-size: 30px;
        }
        .text {
          font-weight: 500;
          margin-top: 5px;
          text-transform: capitalize;
          cursor: default;
        }
      }
    }
  }
}
